@import "./variables.css";
@import "./template/header.css";
@import "./template/breadcrumb.css";
@import "./template/main.css";
@import "./template/categories.css";
@import "./template/blog.css";
@import "./template/blog-content.css";
@import "./template/footer.css";

/* article */
@import "./template/article.css";
@import "./template/navigation.css";

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  margin: 0;
}

a,
i,
div,
button,
time,
span,
p,
h1,
h2,
h3,
h4,
h5,
li,
ul,
cite {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 0;
}

@media (min-width: 414px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 48px;
    line-height: 56px;
  }
}
