.footer {
  padding: 36px 18px 36px 18px;
  background: var(--footer-bg-color);
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--footer-socials-border-color);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  text-wrap: nowrap;
}

.footer__subscription {
  margin-top: 22px;
}

.footer__subscription-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: white;
  text-wrap: balance;
}

.footer__form {
  position: relative;
  margin-top: 8px;
}

.footer__form-input-group {
  position: relative;
}

.footer__form-input {
  padding: 14px 16px;
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: white;
  color: black;
}

.footer__form-input::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 20px;
}

.footer__form-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background: var(--footer-form-button-bg-color);
  border-radius: 4px;
}

.footer__subscription-privacy {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: white;
  opacity: 0.7;
  margin-bottom: 0;
}

.footer__socials {
  margin-top: 6px;
}

.footer__socials-links {
  margin: 20px 0;
  display: flex;
  gap: 16px;
}

.footer__socials-link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__other {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__copyright,
.footer__legal,
.footer__payment {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffffb3;
}

@media (min-width: 414px) {
  .footer {
    padding: 36px 20px;
  }

  .footer__subscription,
  .footer__socials {
    margin: 0;
  }

  .footer__container {
    row-gap: 24px;
  }
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    gap: 32px;
  }

  .footer__subscription {
    flex-basis: 450px;
  }

  .footer__links {
    max-width: fit-content;
  }

  .footer__nav {
    flex-shrink: 0;
    gap: 30px;
  }

  .footer__form-input-group {
    max-width: 384px;
  }

  .footer__other {
    flex-direction: row;
    gap: 48px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    gap: 22px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .footer__nav {
    flex-grow: 0;
    flex-basis: 310px;
  }

  .footer__container {
    flex-basis: 486px;
    justify-content: space-between;
  }
}
