.header {
  border-bottom: 1px solid var(--header-border-color);
  padding: 8px 8px 8px 16px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: none;
  gap: 20px;
}

.header__menu-items {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
}

.header__menu-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: var(--header-item-text-color);
}

.header__menu-item:hover {
  cursor: pointer;
  color: black;
}

.header__menu-item--has-dropdown {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__button {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  background-color: var(--header-button-bg-color);
  color: var(--header-button-text-color);
}

@media (min-width: 414px) {
  .header {
    padding: 16px 24px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 18px 20px;
  }

  .header__logo {
    width: 51px;
    height: 36px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 14px 32px;
  }

  .header__logo {
    width: 51px;
    height: 36px;
  }

  .header__menu-icon {
    display: none;
  }

  .header__menu {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__menu {
    /* сомнительно, но так тоже можно :)) */
    margin-left: 50px;
    flex: 1;
    justify-content: space-between;
  }
}
