.main {
  padding: 24px 16px;
  overflow: hidden;
}

.main__section {
  max-width: 1180px;
  margin: 0 auto;
}

.main__heading {
  margin-bottom: 24px;
}

@media (min-width: 414px) {
  .main {
    padding: 16px 20px;
  }
}

@media (min-width: 768px) {
  .main__heading {
    margin-bottom: 32px;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 16px 32px;
  }
}

@media (min-width: 1440px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 0;
  }
}
